.random-image .contrast{
  height: 50vh;
  width: 50vh;
  cursor: pointer;
  margin-top: 10px;
  /* background: url(https://source.unsplash.com/random) no-repeat; */
  background-size: cover;
  background-position: center;
  filter: contrast(200%);
}

.random-image .rotate{
  height: 50vh;
  width: 50vh;
  cursor: pointer;
  margin-top: 10px;
  /* background: url(https://source.unsplash.com/random) no-repeat; */
  background-size: cover;
  background-position: center;
  filter: hue-rotate(90deg);
}

.icons{
  display: flex;
  justify-content: space-around;
}